<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS 게시판</title>

    <%- include(`../templete/head`) %>

</head>
<body>
    <%- include(`../templete/navbar`) %>

    <h2>게시물 상세</h2>

    <li> 제목 : <%=boardDetail.boardTitle%> </li>
    <li> 작성자 : <%=boardDetail.userName%> </li>
    <li> 작성일자 : <%=boardDetail.boardDate%> </li>
    <li> 내용 : <%=boardDetail.boardContent%> </li>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>