<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>GENIUS 게시판</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    <%- include(`../templete/head`) %>

</head>
<body>

    <%- include(`../templete/navbar`) %>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">사업단 게시판</h1>
            <p class="lead text-muted">사업단 및 전 공구에 알릴 사항을 등록해 주세요.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
        </div>
      </section>

    <table class="table">
        <thead>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </thead>
        <% for (let i = 0; i<boardData.length ; i++ ) { %>
            <tbody>
                <td><a href="/boardDetail?index=<%=boardData[i].boardIndex%>"><%=boardData[i].boardTitle%></a></td>
                <td><%=boardData[i].userName%></td>
                <td><%=boardData[i].boardDate%></td>
            </tbody>
        <% } %>
        
    </table>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>