<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS 게시판</title>

    <%- include(`../templete/head`) %>

</head>
<body>

    <%- include(`../templete/navbar`) %>

    <h2>사업단 게시판</h2>

    <table class="table">
        <thead>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </thead>
        <% for (let i = 0; i<boardData.length ; i++ ) { %>
            <tbody>
                <td><a href="/boardDetail?index=<%=boardData[i].boardIndex%>"><%=boardData[i].boardTitle%></a></td>
                <td><%=boardData[i].userName%></td>
                <td><%=boardData[i].boardDate%></td>
            </tbody>
        <% } %>
        
    </table>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>