<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENIUS</title>

    <%- include(`../templete/head`) %>

</head>
<body>
    <%- include(`../templete/navbar`) %>
    
    <div class="containner mt-3">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h3>자율 현장점검</h3>
            </div>
            
        </div>
    </div>
    

    <div class="containner mt-3">
        <div class="row justify-content-center">

            <div class="col-auto">
                <% if (safeData) {
                    for (let i = 0; i <safeData.length; i++ ) { %>
                        <div class="list-container">
                            <div class="thumbnail"><img class="thumbnail" src="<%=safeData[i].photoIndex%>"/></div>
                            <div class="flex-grow-1 p-4">
                                <h5 class="title"><a href="/safeDetail?index=<%=safeData[i].checkIndex%>"><%=safeData[i].checkContent%></a></h5>
                                <p class="user">점검자 <%=safeData[i].userName%></p>
                                <p class="date">점검일시 <%=safeData[i].checkDate%></p>
                            </div>
                            <br>
                        </div>
                    <% }
                } else { %>
                    <div class="list-container">
                        <h5>점검 내용이 없습니다.</h5>
                    </div>
                <% } %>
            </div>
            
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>