<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>GENIUS</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    <%- include(`../templete/head`) %>

    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>

</head>
<body>
    <%- include(`../templete/navbar`) %>
    
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">자율현장점검</h1>
            <p class="lead text-muted">자율적인 점검과 조치를 통해 현장의 위험 요소들을 <br>효율적으로 제거하고자 합니다.</p>
            <p>
              <a href="#" class="btn btn-primary my-2">Main call to action</a>
              <a href="#" class="btn btn-secondary my-2">Secondary action</a>
            </p>
          </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                <% if (safeData) {
                    for(let i=0; i<=safeData.length/3; i++) {
                        let j = i*3;
                        if(j == safeData.length-1) {
                            break;
                        } else { %>

                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="thumbnail"><img class="bd-placeholder-img" height="225" src="<%=safeData[j].photoIndex%>"/></div>
                                    <div class="card-body">
                                        <p class="card-text"><%=safeData[j].checkContent%></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                            </div>
                                            <small class="text-muted"><%=safeData[j].checkCorrect%></small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <% }

                        if(j == safeData.length-2) {
                            break;
                        } else { %>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="thumbnail"><img class="bd-placeholder-img" height="225" src="<%=safeData[j+1].photoIndex%>"/></div>
                                    <div class="card-body">
                                        <p class="card-text"><%=safeData[j+1].checkContent%></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                            </div>
                                            <small class="text-muted"><%=safeData[j+1].checkCorrect%></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }

                        if(j == safeData.length-3) {
                            break;
                        } else { %>
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="thumbnail"><img class="bd-placeholder-img" height="225" src="<%=safeData[j+2].photoIndex%>"/></div>
                                    <div class="card-body">
                                        <p class="card-text"><%=safeData[j+2].checkContent%></p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                            </div>
                                            <small class="text-muted"><%=safeData[j+2].checkCorrect%></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% }
                    }
                } else { %>
                    <div class="list-container">
                        <h5>점검 내용이 없습니다.</h5>
                    </div>
                <% } %>
                
                


            </div>
        </div>
    </div>

    <div class="containner mt-3">
        <div class="row justify-content-center">

            <div class="col-auto">
                <% if (safeData) {
                    for (let i = 0; i <safeData.length; i++ ) { %>
                        <div class="list-container">
                            <div class="thumbnail"><img class="thumbnail" src="<%=safeData[i].photoIndex%>"/></div>
                            <div class="flex-grow-1 p-4">
                                <h5 class="title"><a href="/safeDetail?index=<%=safeData[i].checkIndex%>"><%=safeData[i].checkContent%>  (<%=safeData[i].checkCorrect%>)</a></h5>
                                <p class="user">점검자 <%=safeData[i].userName%></p>
                                <p class="date">점검일시 :  <%=safeData[i].checkDate%></p>
                            </div>
                            <br>
                        </div>
                    <% }
                } else { %>
                    <div class="list-container">
                        <h5>점검 내용이 없습니다.</h5>
                    </div>
                <% } %>
            </div>
            
        </div>
    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>